:local(.titleEntry) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.65);
  margin-top: 12%;
  min-height: 320px;
  width: 100%;
}

.title {
  font-family: "Dancing Script", cursive;
  font-size: 5rem;
  float: left;
}

.signIn {
  font-family: "Roboto", sans-serif;
  float: right;
}
